<h1 class="mt-4">Controle de Serviços Prestados</h1>
<ol class="breadcrumb mb-4">
  <li li class="breadcrumb-item active">Cadastro de Serviço</li>
</ol>

  <!--mensagens de feedback usuario-->
  <div class="alert alert-success" role="alert" *ngIf="success">
    Serviço Salvo/Atualizado com Sucesso!
  </div>

  <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
    {{error}}
  </div>
  <!--------------------------------->

  <form #form="ngForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Cliente:</label>
          <select name="idCliente" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="servicoPrestado.idCliente">
            <option value="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{cliente.nome}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="">Descrição</label>
          <input type="text" class="form-control" [(ngModel)]="servicoPrestado.descricao" name="descricao">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Data:</label>
          <input type="text" class="form-control" [(ngModel)]="servicoPrestado.data" name="data">
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="">Preço</label>
          <input type="text" class="form-control" [(ngModel)]="servicoPrestado.valor" name="valor">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
  </form>


