<h1 class="mt-4">Controle de Clientes</h1>
<ol class="breadcrumb mb-4">
  <li li class="breadcrumb-item active">Cadastro</li>
</ol>

<div>
  <form #clienteForm="ngForm" > <!--(ngSubmit)="onSubmit()""-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">ID:</label>
          <input class="form-control" type="text" disabled [ngModel]="cliente.id">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">Data de Cadastro:</label>
          <input class="form-control" type="text" disabled [ngModel]="cliente.dataCadastro">
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Nome: *</label>
          <input class="form-control" type="text" [(ngModel)]="cliente.nome" name="nome">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">CPF: *</label>
          <input class="form-control" type="text" [(ngModel)]="cliente.cpf" name="cpf">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i> Cadastrar
        </button>
      </div>
    </div>

    <h4>Objeto: </h4>
    <p>Nome: {{ cliente.nome }}</p>
    <p>CPF: {{ cliente.cpf }}</p>

  </form>
</div>
