<h1 class="mt-4">Controle de Clientes</h1>
<ol class="breadcrumb mb-4">
  <li li class="breadcrumb-item active">Cadastro</li>
</ol>

<div>
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

    <!--Respostas ao client-->
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Cliente salvo/atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>
    <!-------------------->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">ID:</label>
          <input class="form-control" type="text" disabled [ngModel]="cliente.id">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">Data de Cadastro:</label>
          <input class="form-control" type="text" disabled [ngModel]="cliente.dataCadastro">
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Nome: *</label>
          <input class="form-control" type="text" [(ngModel)]="cliente.nome" name="nome">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">CPF: *</label>
          <input class="form-control" type="text" [(ngModel)]="cliente.cpf" name="cpf">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success mr-1">
          <i class="fa fa-save"></i> Cadastrar
        </button>
        <button class="btn btn-danger" (click)="voltarParaListagem()">
          <i class="fa fa-times-circle"></i> Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
